:root {
    --white: #fff;
    --orange: #FFA31A;
    --backgroundColor: #0b0b0c;
}

body {
    background-color: var(--backgroundColor);
    font-family: 'Poppins', sans-serif;
}

.singleCustomer {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%;
}